<div class="container-fluid">
  <div class="container">
    <div class="row skill-details">
      <div class="col-6 text-right left-div">
        <h2>Developer</h2>
        <p>In October 2016, I decided to get back in to the development game after many moons of just focusing on my Product
          Manager gig.</p>
        <p>Since slipping back in to my coding pants, I've been mainly working and studying Angular, backend JavaScript, and
          iOS/Swift.</p>
      </div>
      <div class="col-6 text-left">
        <h2>Product Manager</h2>
        <p>I've been a full time product manager for a software development company since 2011. Other stuff ?? ???? ?? ? ?????
          ?? ?? ? ? ?? ?????? ?? ? ? ???? ? ? ?? ? ???? ? </p>
      </div>
    </div>
  </div>
</div>