@import '../../variables';

#skill-details {
  flex-direction: column;
  padding: 5rem 0;
}
h2 {
  color: $text-secondary;
}
// Small devices (landscape phones, 576px and down)
@include media-breakpoint-down(sm) {
  #second-div {
    padding-top: 5rem;
  }
}
// Medium devices (tablets, 767px and up)
@include media-breakpoint-up(md) { }
// Medium devices (tablets only, 768px to 991px)
@include media-breakpoint-only(md) { }
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  #skill-details {
    flex-direction: row;
  }
  #first-div {
    border-right: 1px solid #fff;
    text-align: right;
    ul {
      direction: rtl;
    }
  }
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  #skill-details {
    padding: 10rem 0;
  }
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) { }
