<div class="container" id="about-section">
  <div class="row" id="skill-details">
    <div class="col-12 col-md-6" id="first-div">
      <h2>Developer</h2>
      <p>Many moons ago I studied software development at university but then once I achieved my degree, I took a different
        path and mainly left actual coding behind.</p>
      <p>However, in 2015 I decided to get back in the game, and since slipping back in to my coding pants I've been mainly
        studying/working with the following:</p>
      <ul>
        <li>iOS (<a href="https://developer.apple.com/swift/" target="_blank">Swift</a>)&#x200E;</li>
        <li><a href="https://angular.io/" target="_blank">Angular</a> (<a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>)&#x200E;</li>
        <li>Backend JavaScript (<a href="https://nodejs.org" target="_blank">Node.js</a> with <a href="https://expressjs.com/"
            target="_blank">Express</a>)&#x200E;</li>
        <li>The good ol' essential web technologies (HTML5, CSS3, frontend JavaScript, etc.)&#x200E;</li>
      </ul>
      <p>My love for the chaos world of coding has officially returned.</p>
    </div>
    <div class="col-12 col-md-6" id="second-div">
      <h2>Product Manager</h2>
      <p>I've been a full-time product manager for a software development company since 2011 and it's changed my universe.</p>
      <p>Even though there is no "typical day" in this product manager world, I’d say the following generally covers what I
        do:</p>
      <ul>
        <li>Bridge the technical gap between the client and the development team</li>
        <li>Decide how the software should look and function based on the client's requirements</li>
        <li>Morph in to "Jess of all trades" to do whatever is needed to meet deliverables</li>
      </ul>
      <p> I love it but it also drives me bonkers at times.</p>
    </div>
  </div>
</div>