// $icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Global Colors
$general-secondary: #0026e6;
$text-primary: rgba(255, 255, 255, 1);
$text-secondary: rgba(255, 255, 255, .7);
$blue-dark: #09152f;
$blue-darker: #040a16;

// Bootstrap Variables
// $body-bg: $dark-blue;
$body-color: $text-primary;
