/*** imports start ***/
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
/*** imports end ***/

/*** bootstrap start ***/
html, body {
    height: 100%;
}
a {
    color: $text-disabled;
}
a:hover, a:focus {
    color: $text-primary;
    text-decoration: none;
}
/*** bootstrap end ***/

/*** fonts start ***/
@font-face {
    font-family: 'walkway';
    src: url('/assets/fonts/walkway/Walkway_SemiBold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'walkway';
    src: url('/assets/fonts/walkway/Walkway_Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
body {
  font-family: 'walkway', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: .1rem;
}
h1, .h1 {
    font-weight: 600;
}
/*** fonts end ***/

/*** general start ***/
html {
  overflow: visible;
}
body { 
  background: url(assets/images/dark-blue-bg-min.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p {
    line-height: 1.7rem;
}
/*** general end ***/
